<!DOCTYPE html>
<html lang="en-us">
<head>
  <%- include ("../partials/head.ejs"); %>
</head>
<body>
  <div id="wrapper" class="container-fluid">
	  <header class="row">
		  <div class="col-sm-5"></div>
			<h1 class="col-sm-4"><strong>Home</strong></h1>
		</header>
		<nav class="navbar navbar-inverse">
      <%- include ("../partials/nav.ejs"); %>
		</nav>
		<main class="container-fluid">
		  
		</main>
	</div>
</body>
</html>