<!DOCTYPE html>
<html lang="en-us">
<head>
  <%- include ("../partials/head.ejs"); %>
</head>
<body>
	<main class="container-fluid">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h1 style="text-align: center;">Sorry, we couldn't find page "<%- page %>"</h1>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</main>
</body>
</html>