<!DOCTYPE html>
<html lang="en-us">
<head>
  <%- include ("../partials/head.ejs"); %>
</head>
<body>
  <div id="wrapper" class="container-fluid">
	  <header class="row">
		  <div class="col-sm-5"></div>
			<h1 class="col-sm-2" style="text-align: center;"><strong>Update</strong></h1>
			<div class="col-sm-5"></div>
		</header>
		<nav class="navbar navbar-inverse">
      <%- include ("../partials/nav.ejs"); %>
		</nav>
		<main class="container-fluid">
		  <div id="error" class="container">
				<% if(findError) {%><%- findError %><%}%>
			</div>
			<form class="container" method="post" action="/update">
				<div class="row">
				  <div class="col-sm-6 container">
					  <div class="row">
				      <h3 style="text-align:center;">Old Envelope</h3>
					  </div>
						<div class="row">
						  <div class="col-sm-4"></div>
						  <div class="col-sm-4 center-block">
							  <strong>Name:</strong><br/><input type="text" id="name" name="name" />
						  </div>
						  <div class="col-sm-4"></div>
					  </div>
					  <div class="row">
						  <div class="col-sm-4"></div>
					    <div class="col-sm-4">
							  <strong>Id:</strong><br/><input type="text" id="id" name="id" />
						  </div>
						  <div class="col-sm-4"></div>
					  </div>
					</div>
					<div class="col-sm-6 container">
					  <div class="row">
							<h3 style="text-align:center;">New Envelope</h3>
						</div>
						<div class="row">
							<div class="col-sm-4"></div>
							<div class="col-sm-4 center-block">
								<strong>New Name:</strong><br/><input type="text" id="newname" name="newname" />
							</div>
							<div class="col-sm-4"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"></div>
							<div class="col-sm-4">
								<strong>New Amount:</strong><br/><input type="text" id="newamount" name="newamount" />
							</div>
							<div class="col-sm-4"></div>
						</div>
					</div>
				</div>
				<br />
				<div class="container row">
					<div class="col-sm-5"></div>
					<input type="submit" class="btn btn-success col-sm-2" value="Submit" />
					<div class="col-sm-5"></div>
				</div>
			</form>
		</main>
	</div>
</body>
</html>